<h1> <%=@market.name%></p> </h1>
<%=@market.full_address%>
<h3><u>Vendors at our market</u>:</h3>
<% @vendors.each do |vendor| %>
  <%= link_to vendor[:attributes][:name], "/vendors/#{vendor[:id]}" %>
<% end %>
